# Ignore virtual environments
venv/
# Ignore dataset folder
data/
# Byte-compiled / cache files
__pycache__/
*.py[cod]
# VSCode or IDE files
.vscode/
.idea/
# Mac OS files
.DS_Store
# Logs or temp files
*.log